html,body{
	min-height: 100vh;
	position: relative;
	font-family: ;
}
*{
	margin:0;
	padding:0;
	font-family: inherit;
	text-decoration: none;
	color: inherit;
	border:none;
	box-sizing: border-box;
}
ol,ul,li{
	list-style: none;

}

.topnav{
	background-color: green;
	color:white;
	display: inline-block;
	text-align: center;
	border-color: grey;
	border-style: solid;
	width: 100%;
	top:0;
	overflow: hidden;
}
.topnav li, .topnav a{
	width: 100%;
}
.topnav a{
	display: inline-block;
	padding: 15px;
}
.topnav img{
	width:20px;
}
.pesquisa{
	color:black;
}
.btn{
	background-color: rgb(0,250,0);
}
/* ------------------ */
.conteudo_principal{
	padding: 
}
.cursos figure{
	
	background-color: grey;
	width: 100px;
	border: solid 3px;
	border-color: black;
	float: left;
	margin: 0 2.5px 2.5px;

}
.img_curso img{
	width: 100%;
}




/* ------------------ */
.footer{
	background-color: green;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}